:root {
    --verde: #2ecc71;
    --verde-escuro: #27ae60;

    --laranja: #ff9f1a;
    --laranja-escuro: #e68900;

    --cinza-claro: #f2f2f2;
}

/* Geral */
body {
    margin: 0;
    background: var(--cinza-claro);
    font-family: Arial, Helvetica, sans-serif;
}

/* Topo */
.topo {
    background: var(--verde);
    padding: 15px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/* Menu */
.menu {
    background: #fff;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

.menu a {
    margin-right: 15px;
    color: var(--verde-escuro);
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* Conteúdo */
.conteudo {
    background: white;
    width: 80%;
    max-width: 900px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0004;
}

/* Botões laranja */
button,
.btn {
    background: var(--laranja);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover,
.btn:hover {
    background: var(--laranja-escuro);
}

/* Inputs */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Títulos verdes */
h1, h2, h3 {
    color: var(--verde-escuro);
}
