:root {
    --verde: #2ecc71;
    --verde-escuro: #27ae60;

    --laranja: #ff9f1a;
    --laranja-escuro: #e68900;

    --cinza-claro: #f2f2f2;
}

/* Geral */
body {
    margin: 0;
    background: var(--cinza-claro);
    font-family: Arial, Helvetica, sans-serif;
}

/* Topo */
.topo {
    background: var(--verde);
    padding: 15px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

/* Menu */
.menu {
    background: #fff;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

.menu a {
    margin-right: 15px;
    color: var(--verde-escuro);
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* Conteúdo */
.conteudo {
    background: white;
    width: 80%;
    max-width: 900px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0004;
}

/* container dos botões */
.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 300px;
}

/* estilo padrão dos botões */
.btn {
    background-color: #ff7f00; 
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

/* hover - efeito ao passar o mouse */
.btn:hover {
    background-color: #e67000;
    transform: scale(1.03);
}

/* Inputs */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Títulos verdes */
h1, h2, h3 {
    color: var(--verde-escuro);
}
