{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<img src="index.html
" alt="">

<!--Botão cabeçalho-->

<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"> </span> </button>

<!--LOGO-->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="{% static 'logo.png'%}" alt="Logo" width="80" height="80" class="d-inline-block align-text-top"> TONHO DO GÁS
    </a>
  </div>
</nav>




<!--primeira  pagina-->

<br><br><br><br><br><br><br>
<div>
    <H2>TONHO DO GÁS</H2>
    <p>Sua rotina mais leve com gás e água mineral de qualidade</p>
    <p>Gás que aquece, água que refresca - tudo com praticidade para você</p>
</div>
<br><br><br>
        
<div class="vapovapo" >
    <a href="{ url 'cadastro' %}" >CADASTRE-SE</a>


</div>

<div></div>
</body>
</html>