{% extends "auth_base.html" %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block content %}
<div class="card-login">
    <h1>CADASTRAR</h1>

    <form method="post">
        {% csrf_token %}

        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>

        <select name="tipo" required>
            <option value="" disabled selected>Selecione o tipo</option>
            <option value="cliente">Cliente</option>
            <option value="admin">Admin</option>
        </select>

        <button type="submit" class="btn-laranja">Cadastrar</button>
    </form>

    <a href="/login/" class="link-conta">Voltar ao login</a>
</div>
{% endblock %}
