{% extends "auth_base.html" %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block content %}
<div class="card-login">
    <h1>CADASTRAR</h1>

    <form method="post">
        {% csrf_token %}

        <input type="text" name="nome" placeholder="Nome">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <input type="text" name="tipo" placeholder="cliente / entregador / admin">

        <button type="submit" class="btn-laranja">Cadastrar</button>
    </form>

    <a href="/login/" class="link-conta">Voltar ao login</a>
</div>
{% endblock %}
