{% extends "auth_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card-login">
    <h1>LOGIN</h1>

    <form method="post">
        {% csrf_token %}

        <input type="email" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <button type="submit" class="btn-laranja">Entrar</button>
    </form>

    <a href="/criar-usuario/" class="link-conta">Criar conta</a>
</div>
{% endblock %}